<!DOCTYPE html>
<html>
  <head>
    <title>String Instruments</title>
  </head>
  <body>
    <h1>String Instruments</h1>
   <ul>
     {{#each images}}
     <li style="list-style: none;"><a href ='/instruments/{{id}}'><img src = {{image}}></a></li st>
     {{/each}}
   </ul>
  </body>
</html>

{{!-- code serving up images --}}
  {{!-- <ul>
     {{#each images}}
     <img src = {{image}}>
     {{/each}}
   </ul> --}}


